*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url(/static/images/blyatshitlalala.jpg);
    background-size: cover;
    background-position: center;
}

.banner p{
    position: absolute;
    left: 1.5%;
    bottom: 1.5%;
    font-size: 15px;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(86, 86, 255), 0 0 0.2em rgb(62, 62, 255);
    color: beige;
}

.navbar{
    font-weight: 600;
    font-size: large;
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-shadow: 2px 2px 1.2px rgb(0, 0, 0);

}

.navbar ul li a{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
    
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: cornsilk;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.welcome h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 380%;
    text-align: right;
    text-shadow: 2px 2px 6px #525252;
    background-position: center;
    position: relative;
    top: 55px;
    right: 60px;
    margin: 10px 0;
    color: rgb(255, 255, 255);
    /* opacity: 0.88; */
}

.welcome p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 150%;
    text-align: right;
    text-shadow: 2px 2px 6px #525252;
    background-position: center;
    position: relative;
    top: 100px;
    right: 300px;
    margin: 10px 80px;
    color: rgb(255, 255, 255);
    /* opacity: 0.85; */
}

.about_bg{
    background-color: rgb(253,245,226);
}

.banner_about{
    width: 60%;
    height: 100%;
    background-image: url(/static/images/wall.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    box-shadow: -10px 0 12px -2px rgb(253,245,226) inset;
}

.navbar_about{
    position: absolute;
    left: 5%;
    font-weight: 600;
    font-size: large;
    width: 90%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar_about ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}

.navbar_about ul li a{
    text-decoration: none;
    color: azure;
    text-transform: uppercase;
    text-shadow: 2px 2px 1.2px rgb(0, 0, 0);
}

.navbar_about ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: cornsilk;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar_about ul li:hover::after{
    width: 100%;
}

.about_contact {
    text-align: center;
    color: rgb(95, 95, 95);
    position: absolute;
    width: 600px;
    left: 65%;
    top: 115%;
    font-size: large;
}

.about_contact h2{
    color: rgb(226, 78, 78);
    text-decoration-color: red;
    font-weight: bold;
    text-shadow: 2px 2px 1.2px rgb(255, 255, 255);
}

.about_contact p{
    margin-bottom: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(59, 59, 59);
    font-size: large;
}

.about_contact ul{
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 199, 94);
    display: flex;
    align-items: center;
}

.about_contact ul li{
    margin-left: 30%;
    /* margin: 0 5px; */
}

.about_contact a button:hover{
    color: rgb(255, 199, 94);
    text-align: center;
}

.about_contact a{
    padding-left: 28%;
    list-style-type: none;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 199, 94);
    display: flex;
    transition: .3s;
    margin: 5%;
}

.about_contact a:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.banner_projects{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
    background-image: url(/static/images/star.jpg);
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0 8px 6px -6px rgb(255, 130, 28);
    -moz-box-shadow: 0 8px 6px -6px rgb(255, 130, 28);
    box-shadow: 0 8px 6px -0.5px rgb(71, 35, 5);
}

.banner_projects .transbox{
    background-color: rgb(223, 222, 222);
    position: absolute;
    border: 0.5px solid azure;
    opacity: 0.4;
    resize: none;
    overflow: auto;
    width: 59.5%;
    height: 95%;
    bottom: 10px;
    right: 10px;
}

.banner_projects .transbox h1{
    position: absolute;
    left: 20px;
    top: 15px;
}

.banner_projects .desc{
    width: 55%;
    text-align: left;
    position: absolute;
    right: 24px;
    bottom: 40%;
    font-size: bolder;
}

.bottom-text {
    position: absolute;
    left: 20px;
    top: 96%;
    font-size: 12px;
    font-weight: bolder;
}

.banner_projects img{
    width: 26%;
    height: 50%;
    position: absolute;
    left: 5%;
    top: 25%;
}

.banner_projects img:hover{
    width: 26.2%;
    height: 50.2%;
}

.list-item {
    display: flex;
    font-weight: bold;
    color: #ffffff;
    flex-direction: row;
    text-shadow: 0 0px 3px rgb(66, 141, 255);
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 5px;
    margin-bottom: 5px;
}

.item-description {
    color: #1d1d1d;
    flex-grow: 1;
    margin-left: 20px;
  }

.banner_music{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300%;
    background-image: url(/static/images/concert.jpg);
    background-size: cover;
    background-position: center;
}

.text h2{
    text-align: center;
    font-size: 5.5em;
    color: #fff;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur 3s ease-out 2;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;

}

/* resume button */
.resume-button {
    background: #ffad42;
    border: 1px solid #ffad42;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
.resume-button:hover,
.resume-button:active {
    background-color: initial;
    background-position: 0 0;
    /* color: #FF4742; */
}

.resume-button:active {
    opacity: .5;
}

.gmail{
    position: relative;
}

.linkedin{
    position: relative;
}

.about_contact ul li{
    display: inline;
}

.links li{
    position: relative;
    display: inline;
    float: left;
    margin: 0 100px;
    bottom: 10%;
    list-style-type: none;
    left: 10%;
}

.links li a{
    opacity: 0.7;
    text-decoration: none;
    transition: 0.3s;
}

.links li a:hover{
    opacity: 1;
}