<html>
    <head>
        <title>Shikhin Dahikar</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class = "banner" id="home">
            <div class="navbar">
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#music">Music</a>
                    </li>
                </ul>
                
            </div>
            <div class = "welcome">
                <h2>Hi! my name is Shikhin <br>A Software Engineer,<br> Musician, and a foodie.</h2>
                <p> To know more about me<br> click on the links at top left</p>
            </div>
        </div>
        <div class="about_bg">
            <div class="banner_about" id="about">
                <div class="navbar_about">
                    <ul>
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#projects">Projects</a>
                        </li>
                        <li>
                            <a href="#music">Music</a>
                        </li>
                    </ul>  
                </div>    
                <div class="about_contact">
                    <h3>Contact me at: </h3><br>
                    <ul>
                        <li>
                            <a href="mailto:shikhindah@gmail.com" target="_blank" class="gmail"><img src="{% static 'images/gmail.png' %}"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/shikhin-d-8421a2138/" target="_blank" class="linkedin"><img src="{% static 'images/linkedin.png' %}"></a>
                        </li>
                    </ul>
                    <br><br>
                    <a href="{% static 'Resume.pdf' %}" download><button class="resume-button" role="button">Download my resume?</button></a>
                </div>

            </div>
            <div class="info">
                <h2>Who am I?</h2><br>
                <p>Born and raised in the orange city of India, Nagpur.
                    Graduated with Bachelor of Technology in Computer Science and Engineering from Visvesvaraya National
                    Institute of Technology(or VNIT, or NIT), Nagpur.<br><br>Ever since I was a kid, I always had a curiousity
                    towards softwares and computers. Now that I know a thing or two about making them, I am excited to
                    contribute to the industry and to the people, using the skills that I have acquired.<br></p>
            </div>
        </div>
        <div class="banner_music" id="music">
            <div class="navbar">
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#music">Music</a>
                    </li>
                </ul>
                
            </div>
            <div class="text">
                <h2>Everything music</h2><br>
            </div>
            <ul class="links">
                <li>
                <a href="https://open.spotify.com/user/ac7ypqsmsfmwik2f23sboswwx" target="_blank" class="fa fa-spotify"></a>
                </li>    
                <li>
                <a href="https://soundcloud.com/user-313179783" target="_blank" class="fa fa-soundcloud"></a>
                </li>
                <li>
                <a href="https://www.instagram.com/7fake_tourist/" target="_blank" class="fa fa-instagram"></a>
                </li>
            </ul>
        </div>
        <div class="banner_projects" id="projects">
            <a href="https://github.com/shikhindahikar?tab=repositories" target="_blank"><img src="{% static 'images/git.png' %}" alt=""></a>
            <div class="navbar">
                <ul>
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#music">Music</a>
                    </li>
                </ul>
                
            </div>
            
            <div class="transbox">
                <h2>Some of my projects that I am proud of...</h2><br><br>
                <p class="bottom-text">*All projects can be found on my GitHub profile by clicking on the GitHub logo on left</p>
            </div>
            <div class="desc">
                <div class="list-item">ASCII art:</div><br>
                <div class="item-description"><p>I used Python with an image processing library known as Pillow to process the pixels in the images and convert them to ASCII value according to a simple algorithm.</p></div>
                <br><br>
                <div class="list-item">CHIP-8:</div><br>
                <div class="item-description"><p>Using C++, computer architecture knowledge and a little SDL, I created CHIP-8 emulator on my very own windows PC.</p></div>
                <br><br>
                <div class="list-item">Reddit bot:</div><br>
                <div class="item-description"><p>Used PRAW Python library for reddit to connect and read and write public comments.</p></div>
            </div>
        </div>
    </body>
</html>